/* Class Selector */
/* Styles the blue gradient bar with proper colors and height */
.header-elements {
    background-color: blue;
    background-image: linear-gradient(to right, #4169E1, #0000CD, #000080);
    height: 50px;
    
}

/* Element Selector */
/* Styles the header with proper color, indentation, and padding */
.text-primary {
    color: white;
    text-align: left;
    text-indent: 50%;
    padding-top: 10px;
}

/* Class Selectors */
/* Styles header two with bolding and font size */
.bold {
    font-weight: bold;
    font-size: 25px;
}

/* Sets the width and height of the input box */
.form-input {
    width: 250px;
    height: 30px;
}

/* Styles the button with color, sets the width, and gets rid of the border line */
.btn {
    width: 258px;
    height: 25px;
    color: white;
    background-color: #6495ED;
    border: none;
    border-radius: 4px;
}

/* Sets the button to the left and gives proper padding in relation to the search box */
.adjust-btn {
    float: left;
    padding-top: 8px;
}

/* When the user clicks on the button, it bounces downwards and changes color */
.btn:active {
    background-color: #1E90FF;
    transform: translateY(4px);
}

/* Sets margin top and left and the width to the horizontal line */
hr {
    margin-top: 50px;
    width: 255px;
    margin-left: 1px;
}

#searchList {
    margin-top: 20px;
}

/* Styles header three */
h3 {
    margin-top: -5px;
    font-size: 25px;
}

/* Class Selectors */
/* Styles the 5 weather cards */
.weather-card {
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
}

/* Centers the cards */
#weather-cards-container {
    text-align: center;
}


@media screen and (min-width: 500px) {
    .text-primary {
       font-size: 20px;
    }
    
}

@media screen and (min-width: 1025px) {
    .text-primary {
       font-size: 30px;
    }
    
}