/* Class Selector */
/* Styles the blue gradient bar with proper colors and height */
.header-elements {
    background-color: blue;
    background-image: linear-gradient(to right, #4169E1, #0000CD, #000080);
    height: 50px;
    
}

/* Element Selector */
/* Styles the header with proper color, indentation, and padding */
.text-primary {
    color: white;
    text-align: left;
    text-indent: 50%;
    padding-top: 10px;
}

/* Class Selectors */
/* Styles header two with bolding and font size */
.bold {
    font-weight: bold;
    font-size: 25px;
}

/* Sets the width and height of the input box */
.form-input {
    width: 250px;
    height: 30px;
}

/* Styles the button with color, sets the width, and gets rid of the border line */
.btn {
    width: 258px;
    height: 25px;
    color: white;
    background-color: #6495ED;
    border: none;
    border-radius: 4px;
}

/* Sets the button to the left and gives proper padding in relation to the search box */
.adjust-btn {
    float: left;
    padding-top: 8px;
}

/* When the user clicks on the button, it bounces downwards and changes color */
.btn:active {
    background-color: #1E90FF;
    transform: translateY(4px);
}

/* Sets margin top and left and the width to the horizontal line */
hr {
    margin-top: 50px;
    width: 255px;
    margin-left: 1px;
}

#searchList {
    /* border-radius: 20px;
    background: #C0C0C0; */
    margin-top: 20px;
}

/* creates the box for the current city and day */
#current-weather {
    border: 1px solid grey;
    padding: 20px;
    height: 150px;
    width: 970px;
    position: absolute;
    right: -10px;
    margin-top: -190px;
    margin-right: 160px;
    
}

/* Styles header three */
h3 {
    margin-top: -5px;
    font-size: 25px;
}

/* Styles the current day for weather*/
#forecast-days {
    font-size: 20px;
    margin-top: 30px;
    position:absolute;
    left: 275px;
    font: bold;
}

/* Styles the card with weather info */
#weather-card-one {
    background-color: #36454F;
    width: 90px;
    padding: 50px;
    margin: 20px;
    padding-top: 2px;
    color: white;
    position:absolute;
    left: 250px;
    top: 300px;
    height: 180px;
}

/* Styles the card with weather info */
#weather-card-two {
    background-color: #36454F;
    width: 90px;
    padding: 50px;
    margin: 20px;
    padding-top: 2px;
    color: white;
    position:absolute;
    left: 480px;
    top: 297px;
    height: 180px;
}

/* Styles the card with weather info */
#weather-card-three {
    background-color: #36454F;
    width: 90px;
    padding: 50px;
    margin: 20px;
    padding-top: 2px;
    color: white;
    position:absolute;
    left: 720px;
    top: 297px;
    height: 180px;
}

/* Styles the card with weather info */
#weather-card-four {
    background-color: #36454F;
    width: 90px;
    padding: 50px;
    margin: 20px;
    padding-top: 2px;
    color: white;
    position:absolute;
    left: 950px;
    top: 297px;
    height: 180px;
}

/* Styles the card with weather info */
#weather-card-five {
    background-color: #36454F;
    width: 90px;
    padding: 50px;
    margin: 20px;
    padding-top: 2px;
    color: white;
    position:absolute;
    right: 10px;
    top: 297px;
    height: 180px;
}

@media screen and (min-width: 500px) {
    .text-primary {
       font-size: 20px;
    }
    
}

@media screen and (min-width: 1025px) {
    .text-primary {
       font-size: 30px;
    }
    
}



